<div style="display: flex; padding: 1rem;" class="form-check form-check-inline justify-content-between">
  <div style="display: flex;" class="justify-content-between">
    <div class="checkbox col-5">
      <label><input type="checkbox" name="gender" [(ngModel)]="isGenderOpen" (change)="updateGender()">Gender</label>
    </div>

    <div class="checkbox col-5">
      <label><input type="checkbox" name="city" [(ngModel)]="isCitiesOpen" (change)="updateCities()">City</label>
    </div>

    <div class="checkbox col-5">
      <label><input type="checkbox" name="street" [(ngModel)]="isStreetsOpen" (change)="updateStreets()">Street</label>
    </div>

    <div class="checkbox col-5">
      <label><input type="checkbox" name="email" [(ngModel)]="isEmailsOpen" (change)="updateEmails()">Email</label>
    </div>

    <div class="checkbox col-5">
      <label><input type="checkbox" name="phone" [(ngModel)]="isPhonesOpen" (change)="updatePhones()">Phone</label>
    </div>
  </div>

  <div class="btn-group" role="group" >
    <button type="button" class="btn btn-secondary" (click)="resetAllFilters()">Reset all filters</button>
  </div>

</div>


<form [collapse]="!isGenderOpen"  class="border p-3 formParams m-3" [isAnimated]="true">
  <h6 class="card-subtitle mb-2 text-muted">Filter by gender</h6>
  <div class="card-body" *ngFor="let gender of genders; let i = index;">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="gender" id="{{ gender.name }}" value="{{ gender.name }}"
        (click)="handleClick($event)" [checked]="gender.isChecked">
      <label class="form-check-label labelParam" for="{{ gender.name }}">
        {{ gender.name }}
      </label>
    </div>
  </div>
  <button class="btn btn-secondary btn-sm" (click)="uploadNewData()">get new users</button>
</form >


<form [collapse]="!isCitiesOpen" class="border p-3 formParams m-3" [isAnimated]="true">
  <h6 class="card-subtitle mb-2 text-muted">Filter by city</h6>
  <div *ngFor="let city of cities; let i = index">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="city" id="{{ city.name }}" value="{{ city.name }}"
        (click)="handleClick($event)" [checked]="city.isChecked">
      <label class="form-check-label labelParam" for="{{ city.name }}">
        {{ city.name }}
      </label>
    </div>
  </div>
</form>

<form [collapse]="!isStreetsOpen" class="border p-3 formParams m-3" [isAnimated]="true">
  <h6 class="card-subtitle mb-2 text-muted">Filter by street</h6>
  <div *ngFor="let street of streets; let i = index">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="street" id="{{ street.name }}" value="{{ street.name }}"
        (click)="handleClick($event)" [checked]="street.isChecked">
      <label class="form-check-label labelParam" for="{{ street.name }}">
        {{ street.name }}
      </label>
    </div>
  </div>
</form>

<form [collapse]="!isEmailsOpen" class="border p-3 formParams m-3" [isAnimated]="true">
  <h6 class="card-subtitle mb-2 text-muted">Filter by email</h6>
  <div *ngFor="let email of emails; let i = index">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="email" id="{{ email.name }}" value="{{ email.name }}"
        (click)="handleClick($event)" [checked]="email.isChecked">
      <label class="form-check-label labelParam" for="{{ email.name }}">
        {{ email.name }}
      </label>
    </div>
  </div>
</form>

<form [collapse]="!isPhonesOpen" class="border p-3 formParams m-3" [isAnimated]="true">
  <h6 class="card-subtitle mb-2 text-muted">Filter by phone</h6>
  <div *ngFor="let phone of phones; let i = index">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="phone" id="{{ phone.name }}" value="{{ phone.name }}"
        (click)="handleClick($event)" [checked]="phone.isChecked">
      <label class="form-check-label labelParam" for="{{ phone.name }}">
        {{ phone.name }}
      </label>
    </div>
  </div>
</form>
