<h2 class="lead p-2">Users-App</h2>
<a href="https://malva37.github.io/users-app/">DEMO LINK</a>

<p class="lead p-2">The application consists of two pages with the ability to route between them. The first page is called
  &quot;Index,&quot; and the second is called &quot;About.&quot; The first page contains two components: a list of users
  and a filter, while the second page contains arbitrary information.</p>
<p class="lead p-2">&quot;Users-App&quot; is a client for the <a
    href="https://randomuser.me/api/?seed=foobar">https://randomuser.me/api/?seed=foobar</a> API. The &quot;seed&quot;
  parameter was used in the API to receive identical data every time. The collection is organized into 100 users, and
  you can view them in a table of 25 users per page (using DevExpress). By clicking on the arrow next to a user&#39;s
  picture, you can view additional information such as their city, street, and email.</p>
<p class="lead p-2">The filter component is placed above the table component and contains a set of Bootstrap checkboxes for the following
  parameters:</p>
  <ul class="lead">
    <li>Sex</li>
    <li>City</li>
    <li>Street</li>
    <li>Email</li>
    <li>Phone</li>
  </ul>
<p class="lead p-2">Selected parameters are saved in localStorage. This component filters the data in the table and modifies the
  transferred data parameters. If you want to receive new data (without the seed parameter) from the backend, you can
  click the &quot;get new users&quot; button.</p>
<h4>Technologies Used:</h4>
  <ul class="lead">
    <li>Angular</li>
    <li>TypeScript</li>
    <li>HTML</li>
    <li>SCSS/CSS</li>
    <li>Bootstrap</li>
    <li>DevExpress</li>
    <li>API</li>
  </ul>
